<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize/materialize.min.css' %}">
    <script type="text/javascript" src="{% static 'js/materialize/materialize.min.js' %}"></script>

    <style>
    @font-face {
      font-family: 'Material Icons';
      font-style: normal;
      font-weight: 400;
      src: url({% static 'css/materialize/icon/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2' %}) format('woff2');
    }
    
    .material-icons {
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
    }

    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
    }
    </style>

    <link rel="icon" href="{% static 'img/icon.png' %}">

    <title>{% block title %}UTBM Time{% endblock %}</title>

    {% block head %}
    {% endblock %}
  </head>

  <body>
    <header>
      {% include "header.html" %}
      
      {% block header %}
      {% endblock %}
    </header>

    <main id="content" class="page-content">
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>


<script type="text/javascript">
  M.AutoInit();
</script>


{% block js %}
{% endblock %}
