<footer class="page-footer amber">
  <div class="row">
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">Links</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="{% url 'admin:index' %}">Admin Connect</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2021 Made by ProgOwer
    <a class="grey-text text-lighten-4 right" href="{% url 'index' %}">Home</a>
    </div>
  </div>
</footer>
