{% load static %}
<div class="navbar-fixed">
  <nav role="navigation">
    <div class="nav-wrapper amber">
      <img src="{% static 'img/icon.png' %}" style="height: 64px;">
      <a href="{% url 'index' %}" class="brand-logo">UTBM Time</a>
      <a href="#" data-target="mobile-display" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'index' %}">UTBM Time</a></li>
        <li><a href="{% url 'import' %}">Import</a></li>
  
        {% if user.is_staff %}
          <li><a href="{% url 'admin:index' %}">Admin Panel</a></li>
        {% endif %}
  
        {% if user.is_authenticated %}
          <li><a href="{% url 'setting' %}" class="waves-effect waves-light btn blue">Settings <i class="material-icons right">settings</i></a></li>
          <li><a href="{% url 'logout' %}" class="waves-effect waves-light btn red lighten-2">Disconnect <i class="material-icons right">power_settings_new</i></a></li>
        {% else %}
          <li><a href="{% url 'login' %}" class="waves-effect waves-light btn blue lighten-2">Connect <i class="material-icons right">account_box</i></a></li>
          <li><a href="{% url 'register' %}" class="waves-effect waves-light btn orange lighten-2">Register <i class="material-icons right">how_to_reg</i></a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>

<ul id="mobile-display" class="sidenav">
  <li><a href="{% url 'index' %}">UTBM Time</a></li>
  <li><a href="{% url 'import' %}">Import</a></li>

  {% if user.is_staff %}
    <li><a href="{% url 'admin:index' %}">Admin Panel</a></li>
  {% endif %}

  {% if user.is_authenticated %}
    <li><a href="{% url 'setting' %}" class="waves-effect waves-light btn blue">Settings <i class="material-icons right">settings</i></a></li>
    <li><a href="{% url 'logout' %}" class="waves-effect waves-light btn red lighten-2">Disconnect <i class="material-icons right">power_settings_new</i></a></li>
  {% else %}
    <li><a href="{% url 'login' %}" class="waves-effect waves-light btn blue lighten-2">Connect <i class="material-icons right">account_box</i></a></li>
    <li><a href="{% url 'register' %}" class="waves-effect waves-light btn orange lighten-2">Register <i class="material-icons right">how_to_reg</i></a></li>
  {% endif %}
</ul>