{% extends "base.html" %}

{% load static %}

{% block title %}UTBM Time : Calendar{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'css/fullcalendar/main.min.css' %}">
<script type="text/javascript" src="{% static 'js/fullcalendar/main.min.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/sweetalert2/sweetalert2.min.css' %}">
<script type="text/javascript" src="{% static 'js/sweetalert2/sweetalert2.all.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tippy-bundle.umd.min.js' %}"></script>

<style>
  .fc-event-title {
    white-space: break-spaces;
  }
</style>
{% endblock %}

{% block content %}
<div class="container row" style="width: 95%; max-width: 100%;">
  <div class="row"></div>

  <!-- Calendar Navigation -->
  <div class="row input-field center">
    <a style="cursor: pointer;" onclick="previous_week()"><i class="material-icons" style="font-size: 3rem;">skip_previous</i></a>
    <a style="cursor: pointer;" onclick="previous_day()"><i class="material-icons" style="font-size: 3rem;">navigate_before</i></a>
    <a style="cursor: pointer;" onclick="change_view()"><i class="material-icons" style="font-size: 3rem;">event</i></a>
    <a href="#" data-target="options" class="sidenav-trigger"><i class="material-icons" style="font-size: 3rem;">filter_alt</i></a>
    <a style="cursor: pointer;" onclick="next_day()"><i class="material-icons" style="font-size: 3rem;">navigate_next</i></a>
    <a style="cursor: pointer;" onclick="next_week()"><i class="material-icons" style="font-size: 3rem;">skip_next</i></a>
  </div>

  <!-- Calendar -->
  <div class="row">
    <div class="col s12">
      <span class="new badge purple left" data-badge-caption="Current Date : {{ current_date|date:'d/m/Y' }}"></span>
      {% if week_group == 'A' %}
        <span class="new badge green" data-badge-caption="Week {{ week_group }}"></span>
      {% else %}
        <span class="new badge blue" data-badge-caption="Week {{ week_group }}"></span>
      {% endif %}
    </div>
    <div id="calendar" class="col s12"></div>
  </div>

  <!-- User Selector -->
  <form id="filter" method="GET" action="/">{% csrf_token %}
    <input id="view" name="view" type="text" value="{{ view }}" hidden/>
    <ul id="options" class="sidenav">
      <li><div class="divider"></div></li>
      <li><a class="subheader">Filter</a></li>

      <li>
        <div class="col s12 center-align">
          <a onclick="today()" class="col s12 btn input-field waves-effect waves-light green">Today</a>
        </div>
      </li>

      <li>
        <div class="input-field col s12">
          <select name="users[]" multiple>
            {% for user in users %}
              <option value="{{ user.username }}" {% if user.username in usersFilter %}selected{% endif %}>{{ user.first_name }} {{ user.last_name }}</option>
            {% endfor %}
          </select>
          <label>Users Selector</label>
        </div>
      </li>

      <li>
        <div class="input-field col s12">
          <select name="days[]" multiple>
            {% for id, day in days.items %}
              <option value="{{ id }}" {% if id in daysFilter %}selected{% endif %}>{{ day }}</option>
            {% endfor %}
          </select>
          <label>Days Selector</label>
        </div>
      </li>

      <li>
        <div class="input-field col s12">
          <input id="calendar_height" name="calendar_height" type="number" min="800" class="validate" value="{{ calendar_height }}">
          <label for="calendar_height">Calendar Height</label>
        </div>
      </li>

      <li>
        <div class="input-field col s12">
          <input type="text" id="current_date" name="current_date" class="datepicker">
          <label for="current_date">Current Date</label>
          {% if week_group == 'A' %}
            <span class="new badge green" data-badge-caption="Week {{ week_group }}"></span>
          {% else %}
            <span class="new badge blue" data-badge-caption="Week {{ week_group }}"></span>
          {% endif %}
          <span class="helper-text">Select your current date</span>
        </div>
      </li>

      <li>
        <div class="input-field col s12 center-align">
          <button class="col s12 btn input-field waves-effect waves-light cyan" type="submit">Filter</button>
        </div>
      </li>
    </ul>
  </form>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  let calendar;

  document.addEventListener('DOMContentLoaded', function() {
    var datePicker = document.querySelectorAll('.datepicker');
    M.Datepicker.init(datePicker, {
      'autoClose': true,
      'format': 'dd/mm/yyyy',
      'firstDay': 1,
      'defaultDate': new Date('{{ current_date|date:'m/d/Y' }}'),
      'setDefaultDate': true
    });
    
    window.mobileCheck = function() {
      var check = false;
      (function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);
      if (window.innerWidth < 765)
        check = true;
      return check;
    }

    let tasks = [
      {% for id, task in tasks.items %}
        {
          "id": "{{ id }}",
          "title": `{{ task.uv }} : {{ task.group }}
{{ task.mode }} : {{ task.room }}` +
`
{% for user, tmp in task.users.items %}- {{ user }}
{% endfor %}`,
          "start": "{{ task.start|date:"Y-m-d" }} {{ task.start|date:"H:i" }}:00",
          "end": "{{ task.stop|date:"Y-m-d" }} {{ task.stop|date:"H:i" }}:00",
          {% if task_color|get_item:task.uv is not None %}"color": "{{ task_color|get_item:task.uv }}",{% endif %}
        },
      {% endfor %}
    ];

    var calendarEl = document.getElementById('calendar');
    calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: document.querySelector('#view').value == 'day' ? 'timeGridDay' : 'timeGridWeek', // window.mobileCheck() ? 'timeGridDay' : 'timeGridWeek',
      validRange: {
        start: '{{ day_list.monday|date:"Y-m-d" }}',
        end: '{{ day_list.sunday|date:"Y-m-d" }}'
      },
      locale: 'fr',
      hiddenDays: [
        0,
        {% for id, day in days.items %}{% if id not in daysFilter %}{{ id }},{% endif %}{% endfor %}
      ],
      firstDay: 1,
      dayHeaderFormat: { weekday: 'long' },
      slotMinTime: "07:00:00",
      slotMaxTime: "21:00:00",
      slotLabelFormat: {
        hour: 'numeric',
        minute: '2-digit',
        omitZeroMinute: false,
      },
      contentHeight: {{ calendar_height }},
      headerToolbar: {start: '', center: '', end: ''},
      dayHeaderFormat: {weekday: 'long', month: 'numeric', day: 'numeric'},
      titleFormat: { year: 'numeric', month: 'long', day: 'numeric' },
      slotLabelInterval: "01:00",
      nowIndicator: true,
      expandRows: true,
      events: tasks,
      eventClick: function(info) {
        data = info.event.title.split('\n');

        start = info.event.start;
        start = ("0" + start.getHours()).slice(-2) + ':' + ("0" + start.getMinutes()).slice(-2);
        end = info.event.end;
        end = ("0" + end.getHours()).slice(-2) + ':' + ("0" + end.getMinutes()).slice(-2);

        title = data[0] + '\n' + data[1] + '\n' + start + ' - ' + end;
        description = data.slice(2).join('\n');

        display_alert(title, description);
      },
      eventDidMount: function(info) {
        data = info.event.title.split('\n');
        description = data.slice(2).join('\n');
        description = description.replaceAll('- ', '');
        description = description.replaceAll('\n', '</br>');
        tippy(info.el, {
          content: description,
          allowHTML: true,
          placement: 'top-start',
        });
      },
    });
    calendar.render();
  });

  function change_view() {
    var viewData = document.querySelector('#view');
    
    if (calendar.view.type == 'timeGridWeek') {
      calendar.changeView(
        'timeGridDay', {
        start: '{{ day_list.monday|date:"Y-m-d" }}',
        end: '{{ day_list.sunday|date:"Y-m-d" }}'
      });
      viewData.value = "day";
    } else {
      calendar.changeView(
        'timeGridWeek', {
        start: '{{ day_list.monday|date:"Y-m-d" }}',
        end: '{{ day_list.sunday|date:"Y-m-d" }}'
      });
      viewData.value = "week";
    }
  }

  function day_display() {
    if (calendar.view.type == 'timeGridWeek') {
      calendar.changeView(
        'timeGridDay', {
        start: '{{ day_list.monday|date:"Y-m-d" }}',
        end: '{{ day_list.sunday|date:"Y-m-d" }}'
      });
    }
  }

  function week_display() {
    if (calendar.view.type == 'timeGridDay') {
      calendar.changeView(
        'timeGridWeek', {
        start: '{{ day_list.monday|date:"Y-m-d" }}',
        end: '{{ day_list.sunday|date:"Y-m-d" }}'
      });
    }
  }

  function previous_day() {
    if (calendar.view.type == 'timeGridDay') { calendar.prev(); }
  }

  function next_day() {
    if (calendar.view.type == 'timeGridDay') { calendar.next(); }
  }

  function previous_week() {
    var filterForm = document.querySelector('#filter');
    var datePicker = document.querySelector('#current_date');
    var instance = M.Datepicker.getInstance(datePicker);
    instance.setDate(new Date('{{ previous_week|date:'m/d/Y' }}'));
    datePicker.value = '{{ previous_week|date:'d/m/Y' }}';
    filterForm.submit();
  }

  function next_week() {
    var filterForm = document.querySelector('#filter');
    var datePicker = document.querySelector('#current_date');
    var instance = M.Datepicker.getInstance(datePicker);
    instance.setDate(new Date('{{ next_week|date:'m/d/Y' }}'));
    datePicker.value = '{{ next_week|date:'d/m/Y' }}';
    filterForm.submit();
  }

  function today() {
    var filterForm = document.querySelector('#filter');
    var datePicker = document.querySelector('#current_date');
    var instance = M.Datepicker.getInstance(datePicker);
    var current_date = new Date();
    instance.setDate(new Date(("0" + (current_date.getMonth() + 1)).slice(-2) + '/' + ("0" + current_date.getDate()).slice(-2) + '/' + current_date.getFullYear()));
    datePicker.value = ("0" + current_date.getDate()).slice(-2) + '/' + ("0" + (current_date.getMonth() + 1)).slice(-2) + '/' + current_date.getFullYear();
    filterForm.submit();
  }

  function display_alert(title, description) {
    Swal.fire({
      title: title.replaceAll('\n', '</br>'),
      html: description.replaceAll('\n', '</br>'),
      icon: 'info',
    });
  }
</script>
{% endblock %}
