{% extends "base.html" %}

{% load static %}

{% block title %}UTBM Time : Import{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'css/tablesort.css' %}">
<script type="text/javascript" src="{% static 'js/tablesort/tablesort.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container row" style="width: 95%; max-width: 100%;">
  <div class="row">
    <!-- Import Test System -->
    <form method="POST" action="/import">{% csrf_token %}
      <div class="col s4">
        <div class="row">
          <div class="input-field col s12">
            <textarea id="import" name="import" class="materialize-textarea"></textarea>
            <label for="import">Copy Paste your UTBM Planning like above</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <textarea id="example" class="materialize-textarea">{{ import_example }}</textarea>
            <label for="example">UTBM Planning example</label>
          </div>
        </div>

        <div class="row center-align">
          <div class="col full">
            <p>
              <label>
                <input type="checkbox" name="active" checked/>
                <span>Import and Add to me</span>
              </label>
            </p>
          </div>
        </div>

        <div class="row center-align">
          <div class="input-field col full">
            <button class="btn waves-effect waves-light blue" type="submit" name="action">Import
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </div>
    </form>

    <!-- User Tasks Viewer -->
    <div class="col s8">
      <div class="col s12">
        <table id="data" class="striped highlight responsive-table">
          <thead>
            <tr>
              <th>UV</th>
              <th>Group</th>
              <th>Day</th>
              <th>Start</th>
              <th>Stop</th>
              <th>Frequency</th>
              <th>Mode</th>
              <th>Room</th>
              <th>Active</th>
            </tr>
          </thead>

          <tbody>
            {% for task in tasks %}
              <tr>
                <th>{{ task.task.uv }}</th>
                <th>{{ task.task.group }}</th>
                <th>{{ task.task.day }}</th>
                <th>{{ task.task.start|time:"H:i" }}</th>
                <th>{{ task.task.stop|time:"H:i" }}</th>
                <th>{{ task.task.frequency }}</th>
                <th>{{ task.task.mode }}</th>
                <th>{{ task.task.room }}</th>
                <th>
                  {% if task.is_active %}
                    <span class="new badge green" data-badge-caption="Active"></span>
                  {% else %}
                    <span class="new badge red" data-badge-caption="Inactive"></span>
                  {% endif %}
                </th>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  new Tablesort(document.querySelector('#data'));

  {% for msg in msgs %}
    console.log("{{ msg }}");
  {% endfor %}
</script>
{% endblock %}
