{% extends "base.html" %}

{% load static %}

{% block title %}UTBM Time : Index{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}
<div class="container row" style="width: 95%; max-width: 100%;">
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
</script>
{% endblock %}
