{% extends "base.html" %}

{% load static %}

{% block title %}UTBM Time : Login{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="container row" style="width: 95%; max-width: 100%;">
  <div class="col s3"></div>
  <div class="col s6">
    <form id="login" action="{% url 'login' %}" method="post">{% csrf_token %}
      <div class="card col s12 z-depth-3">
        <div class="card-content row">
          <div class="col s12">
            <span class="truncate red-text center-align">{{ form.non_field_errors }}</span>
          </div>
          
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input type="text" id="{{ form.username.name }}" name="{{ form.username.name }}" class="validate counter" data-length="190" maxlength="190" required>
            <label for="{{ form.username.name }}">{{ form.username.label }}</label>
            <span class="helper-text" data-error="Bad Username" data-success="Valid">{{ form.username.help_text }}</span>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input type="password" id="{{ form.password.name }}" name="{{ form.password.name }}" class="validate" required>
            <label for="{{ form.password.name }}">{{ form.password.label }}</label>
            <span class="helper-text" data-error="Bad Password" data-success="Valid">{{ form.password.help_text }}</span>
          </div>
        </div>
        
        <div class="card-action center">
          <button id="login_button" class="btn waves-effect waves-light blue lighten-2 tooltipped" data-position="bottom" data-tooltip="Log In" name="login">Log In
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col s3"></div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    var textNeedCount = document.querySelectorAll('.counter');
    M.CharacterCounter.init(textNeedCount);
  });
</script>
{% endblock %}
