{% extends "base.html" %}

{% load static %}

{% block title %}UTBM Time : Register{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}
<div class="container row" style="width: 95%; max-width: 100%;">
  <div class="col s2"></div>
  <div class="col s8">
    <div class="card col s12 z-depth-3">
      <form id="register" action="{% url 'register' %}" method="post">{% csrf_token %}
        <div class="card-content row">
          <div class="col s12">
            <span class="truncate red-text center-align">{{ form.non_field_errors }}</span>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input type="text" id="{{ form.username.name }}" name="{{ form.username.name }}" value="{{ form.username.value|default_if_none:'' }}" class="validate counter" data-length="190" required>
            <label for="{{ form.username.name }}">{{ form.username.label }}</label>
            <span class="helper-text" data-error="Bad Username" data-success="Valid">{{ form.username.help_text }}</span><br>
          </div>

          <div class="input-field col s6">
            <input type="text" id="{{ form.first_name.name }}" name="{{ form.first_name.name }}" value="{{ form.first_name.value|default_if_none:'' }}" class="validate counter" data-length="30" required>
            <label for="{{ form.first_name.name }}">{{ form.first_name.label }}</label>
            <span class="helper-text" data-error="Bad First Name" data-success="Valid">{{ form.first_name.help_text }}</span><br>
          </div>

          <div class="input-field col s6">
            <input type="text" id="{{ form.last_name.name }}" name="{{ form.last_name.name }}" value="{{ form.last_name.value|default_if_none:'' }}" class="validate counter" data-length="150" required>
            <label for="{{ form.last_name.name }}">{{ form.last_name.label }}</label>
            <span class="helper-text" data-error="Bad Last Name" data-success="Valid">{{ form.last_name.help_text }}</span><br>
          </div>

          <div class="input-field col s12" style="display: block">
            <i class="material-icons prefix">email</i>
            <input type="email" id="{{ form.email.name }}" name="{{ form.email.name }}" value="{{ form.email.value|default_if_none:'' }}" class="validate" required>
            <label for="{{ form.email.name }}">{{ form.email.label }}</label>
            <span class="helper-text" data-error="Bad Email" data-success="Valid">{{ form.email.help_text }}</span><br>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input type="password" id="{{ form.password.name }}" name="{{ form.password.name }}" class="validate" required>
            <label for="{{ form.password.name }}">{{ form.password.label }}</label>
            <span class="helper-text" data-error="Bad Password" data-success="Valid">{{ form.password.help_text }}</span><br>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input type="password" id="{{ form.password_check.name }}" name="{{ form.password_check.name }}" class="validate" required>
            <label for="{{ form.password_check.name }}">{{ form.password_check.label }}</label>
            <span class="helper-text" data-error="Bad Password" data-success="Valid">{{ form.password_check.help_text }}</span><br>
          </div>
        </div>
        
        <div class="card-action center">
          <button id="register_button" class="btn waves-effect waves-light orange lighten-2 tooltipped" data-position="bottom" data-tooltip="Register" name="register">Register
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </div>
  <div class="col s2"></div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    var textNeedCount = document.querySelectorAll('.counter');
    M.CharacterCounter.init(textNeedCount);
  });
</script>
{% endblock %}
