{% extends "base.html" %}

{% load static %}

{% block title %}UTBM Time : User Settings{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}
<div class="container row" style="width: 95%; max-width: 100%;">
  <div class="col s2"></div>
  <div class="col s8">
    <div class="card col s12 z-depth-3">
      <form id="setting" action="{% url 'setting' %}" method="post">{% csrf_token %}
        <div class="card-content row">
          <div class="col s12">
            <span class="truncate red-text center-align">{{ form.non_field_errors }}</span>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input type="text" id="username" value="{{ user.username }}" class="validate counter" data-length="190" required disabled>
            <label for="username">Username</label>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input type="password" id="{{ form.password.name }}" name="{{ form.password.name }}" class="validate" required>
            <label for="{{ form.password.name }}">{{ form.password.label }}</label>
            <span class="helper-text" data-error="Bad Password" data-success="Valid">{{ form.password.help_text }}</span><br>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input type="password" id="{{ form.password_check.name }}" name="{{ form.password_check.name }}" class="validate" required>
            <label for="{{ form.password_check.name }}">{{ form.password_check.label }}</label>
            <span class="helper-text" data-error="Bad Password" data-success="Valid">{{ form.password_check.help_text }}</span><br>
          </div>
        </div>
        
        <div class="card-action center">
          <button id="register_button" class="btn waves-effect waves-light red lighten-2 tooltipped" data-position="bottom" data-tooltip="Change Password" name="password">Change Password
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </div>
  <div class="col s2"></div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    var textNeedCount = document.querySelectorAll('.counter');
    M.CharacterCounter.init(textNeedCount);
  });
</script>
{% endblock %}
